nav{
    /* background-color: #ccc; */
    width: 100%;
    position: fixed;
    padding: 4px 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition: .3s ease-in;
}
.logo{
    width: 160px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.dark-nav{
    background-color: rgb(20, 20, 63);
}